# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
HA3/.vs/HA3/FileContentIndex/4125db47-c845-40ee-8eee-bc4f8d23be17.vsidx
HA3/.vs/HA3/FileContentIndex/read.lock
HA3/.vs/HA3/v17/.wsuo
HA3/.vs/HA3/v17/Browse.VC.db
HA3/.vs/HA3/v17/ipch/AutoPCH/c42a21b72683ae5e/MAIN.ipch
HA3/.vs/ProjectSettings.json
HA3/.vs/slnx.sqlite
HA3/.vs/VSWorkspaceState.json
